<header>
  <div class="title-logo">
    <img src="PSALogo.png" alt="Logo" class="logo"/>
    <nav class="title">HR System</nav>
  </div>
<div class="dropdowns">
    <div class="dropdown">
      <span>Employees</span>
    </div>

    <div class="dropdown">
      <span>PDS <span class="material-icons">arrow_drop_down</span></span>
      <ul class="dropdown-menu">
        <li>Regular</li>
        <li>COSW</li>
      </ul>
    </div>

    <div class="dropdown">
      <span>ID</span>
    </div>

    <div class="dropdown">
      <span>Certificate <span class="material-icons">arrow_drop_down</span></span>
      <ul class="dropdown-menu">
        <li>Regular</li>
        <li>COSW</li>
      </ul>
    </div>

    <div class="dropdown">
      <span>Contracts</span>
    </div>

    <div class="dropdown">
      <span>Reports <span class="material-icons">arrow_drop_down</span></span>
      <ul class="dropdown-menu">
        <li>Regular</li>
        <li>COSW</li>
      </ul>
    </div>
  </div>
</header>
